+++
title = "Monash Rotaract"
linkTitle = "Monash Rotaract"

+++

{{< blocks/cover title="Monash Rotaract" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<h2 class="mt-5">Youth serving the community.</p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<div class="col">
<h1 class="text-center">What is Rotaract?</h1>

We are 18-30 year olds who have a passion for serving the community, learning and developing ourselves and having lots of fun along the way!
To do this, we focus our efforts on four main areas of service.

{{% /blocks/lead %}}

{{< blocks/content-section color="dark" title="Avenues of service" content="" >}}

{{% blocks/feature-4 icon="fa-users" title="Community Service" %}}
To help the local community in a variety of ways.
{{% /blocks/feature-4 %}}

{{% blocks/feature-4 icon="fa-book" title="Professional Development" %}}
To ensure we’re always learning.
{{% /blocks/feature-4 %}}

{{% blocks/feature-4 icon="fa-globe" title="International Service" %}}
To provide aid & gain awareness internationally.
{{% /blocks/feature-4 %}}

{{% blocks/feature-4 icon="fa-trophy" title="Club Service" %}}
To have fun and to support members!
{{% /blocks/feature-4 %}}

{{< /blocks/content-section >}}

{{% blocks/lead color="white" %}}

<div class="col">
<h1 class="text-center">Updates from our Instagram page</h1>

<div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div><!-- The Javascript can be moved to the end of the html page before the </body> tag --><script type="text/javascript">
/* curator-feed-default-feed-layout */
(function(){
var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
i.src="https://cdn.curator.io/published/95a35530-7cde-4989-b85d-050ff82f1032.js";
e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>

{{% /blocks/lead %}}

{{< blocks/content-section color="primary" title="Get involved!" content="We meet twice a month to communicate about opportunities to get involved in a variety of projects and events, and to plan our own!" >}}

<div class="col-12 text-center" style="padding-bottom:50px;">
	<span class="h4 mb-0">
If you're interested to find out more, we'd love to have you along to a meeting.

We meet on the first and third Wednesday of every month at 7:30 for a 7:45pm start at Glen Waverley RSL.

Send us an email if you have any questions or to let us know you'd like to come along to a meeting or event!
	</span>
</div>


{{% blocks/feature icon="fa-location-arrow" title="Glen Waverley RSL (Sunset Room)" %}}
161 Coleman Pde, Glen Waverley
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-envelope" title="Email us directly at:" %}}
<a href="mailto:info@monashrotaract.org.au"><span>info@monashrotaract.org.au</span></a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-calendar" title="Meetings at 7:30PM Wednesday" %}}
1st and 3rd weeks of every month
{{% /blocks/feature %}}

{{< /blocks/content-section >}}

<section class = "row" style = "padding: 0">
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="map.html"></iframe>
</section>
